

/* ================== NAV ==================  */

.nav {
	overflow:hidden;
	padding:1vw;
	background: linear-gradient(90deg, rgba(120, 120, 120, 0.5) 0%, black 25%, black 75%, rgba(120, 120, 120, 0.5) 100%);
	box-shadow:0px 0px 10px 10px rgba(120, 120, 120,.25);
}

.nav_webDev {
	color:white;
	background: linear-gradient(90deg, rgba(255,0,255,.5) 0%, black 25%, black 75%, rgba(255,0,255,.5) 100%) !important;
	border-top:1px solid var(--color_skills_webDev);
	border-bottom:1px solid var(--color_skills_webDev);
	box-shadow:0px 0px 10px 10px rgba(255,0,225,.25);
}

.nav_gameDev {
	color:white;
	background: linear-gradient(90deg, rgba(255,0,0,.5) 0%, black 25%, black 75%, rgba(255,0,0,.5) 100%) !important;
	border-top:1px solid var(--color_skills_gameDev);
	border-bottom:1px solid var(--color_skills_gameDev);
	box-shadow:0px 0px 10px 10px rgba(255,0,0,.25);
}

.nav_uiux {
	color:white;
	background: linear-gradient(90deg, rgba(140,0,225,1) 0%, black 25%, black 75%, rgba(140,0,225,1) 100%) !important;
	border-top:1px solid var(--color_skills_uiux);
	border-bottom:1px solid var(--color_skills_uiux);
	
	box-shadow:0px 0px 10px 10px rgba(140,0,225,.25);
}


.nav_marketing {
	color:white;
	background: linear-gradient(90deg, rgba(110,206,246,1) 0%, black 25%, black 75%, rgba(110,206,246,1) 100%) !important;
	border-top:1px solid var(--color_skills_marketing);
	border-bottom:1px solid var(--color_skills_marketing);
	box-shadow:0px 0px 10px 10px rgba(110,206,246,.25); 
}

.nav_role {
	font-size:2vw;
	text-align:center;
}

.nav_role_item {
	cursor:pointer;
}

.nav_role_item:hover {
	font-weight:400;
}

.nav_role_control {
	display:flex;
	justify-content:center;
	align-items:flex-end;
	height:3vw;
}
.nav_role_list_container {
	text-align:center;
	font-size:4vw;
	display:flex;
	flex-direction:column;
}

.nav_role_karats {
	position:relative;
	width:3vw;
	height:3vw;
	border:1px solid red;
}
.nav_role_karat1 {
	position:absolute;
	top:-14%; 
	left:15%;
}
.nav_role_karat2 {
	position:absolute;
	bottom:-14%;
	left:15%;
	transform:rotate(180deg);
}

.nav_role_karat_img {
	width:2vw;
	opacity:.5;
}

/* ----------- MOBILE ------------ */
@media only screen and (max-width: 420px) {
	.nav_role {
		font-size:4vw;
		padding-top:6vw;
	}

	.nav_role_list_container {
		font-size:8vw;
	}

	.nav {
		padding-bottom:3vw;
	}
}