
/* ================== PORTFOLIO ==================  */

.portfolio {
	opacity:0;	
	position:absolute;
	z-index:0;
	top:0;
}

.portfolio_content {
	display:inline-flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
	margin:2vw;
}

.port_item {
	margin:4vw;
	width:30%;
	cursor:pointer;
}


.port_thumbnail_shell {
	overflow:hidden;
	width:100%;
	height:25%;
	
}
.port_thumbnail {
	width:28vw;
	height:28vw;
	object-fit:cover;
	border:1px solid #333;
}

.port_thumbnail:hover {
	border:1px solid grey;
}

.port_item_title {
	font-size:2vw;
	margin:1vw;
	text-align:center;
}

.port_item_category {
	display:flex;
	justify-content:center;
}

.port_item_stats {
	display:flex;
	justify-content:center;
}

.port_item_stat {
	width:1vw;
}

