/* ================== Global ==================  */

:root {
	--color_skills_marketing:#6DCFF6;
	--color_skills_uiux:		#8C00FF;
	--color_skills_webDev:	#FF00FF;
	--color_skills_gameDev:	#FF0000;

	--color_rgba_skills_director: rgba(110,206,246,1);
	/* --color_rgba_skills_creative: rgba(36,185,0,1); */
	--color_rgba_skills_uiux: rgba(140,0,225,1);
	--color_rgba_skills_webDev: rgba(255,0,255,1);
	--color_rgba_skills_gameDev: rgba(255,0,0,1);

}


html,body {
	background:black;
	color:white;
	margin:0;
	padding:0;
	font-family:"Jost",Arial,sans-serif;
	font-weight:200;
}

.hideMe {
	display:none;
}	

.maskMe {
	width:0;
	height:0;
	overflow:hidden;
}

.opacity0 {
	opacity:0;
}



.textBold {
	font-weight:400;
}

.orderMinus1 { order:-1; }


/* ================== PORTFOLIO ITEM DETAIL OVERLAY ==================  */

.port_detailShell {
	background:rgba(0,0,0,.8);
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:-10;
}

.port_detail.category_marketing {
	box-shadow:0px 0px 10px 10px rgba(110,206,246,.5); 
}

.port_detail.category_uiux {
	box-shadow:0px 0px 10px 10px rgba(140,0,225,.5);
}

.port_detail.category_gameDev {
	box-shadow:0px 0px 10px 10px rgba(255,0,0,.5);
}

.port_detail.category_webDev {
	box-shadow:0px 0px 10px 10px rgba(255,0,225,.5);
}

.acrobat_icon {
	width:1.5vw;
	padding-right:.5vw;
}

/* ----------- MOBILE ------------ */
@media only screen and (max-width: 420px) {

	.port_detail {
    top: 20px !important;
    right: 20px !important;
    bottom: 20px !important;
    left: 20px !important;
	}

	#portItem_details {
		display:block !important;
		width:95% !important;
		left:5vw !important;
		top:34vw !important;
	}

	#portItem_details .column {
    width: 100% !important;
	}

	.portItem_detailPanel {
		top:38vw !important;
		right:12% !important;
	}

	.portItem_detailPanel h3 {
    font-size: 4vw !important;
		text-align:center;
	}

	.content_subnav_item {
    font-size: 5vw !important;
	}

	.content_subnav_item {
    padding: 1vw 3vw 0 3vw !important;
	}

}