/* ================== PORTFOLIO ITEM DETAIL ==================  */

#portItem_media {

	position:absolute;
	z-index: 100;

	background:rgba(0,0,0,.9);

	transition: all 0.5s ease-in-out;

	overflow-y:scroll;

	overflow-x:hidden;

	padding:6vw 2vw 0 2vw;
	
}

.port_images img {
	width:100%;
}


#portItem_details .column {
	width:50%;
}


.port_detail_description {
	display:flex;
	align-items:flex-start;
	align-self: center;
	justify-content: center;
	text-align:left;
	padding:0 0 0 9vw;
}

.port_detail_description .column {
	width:50vw;
}

.portItem_detailPanel h3 {
	font-size:2vw;
}

.portItem_skills_cont {
	display:flex;
	flex-direction:row;
	justify-content: space-evenly;
	width:75vw;
	margin:auto;
	padding: 2vw 0 4vw 0;
}


.portItem_skills_cont.col_count_4 {
	flex-wrap: wrap;
}

.porItem_skills_category {
	width:60vw;
}

.porItem_skills_category.col_count_4 { 
	width:33vw;
}

.porItem_skills_category.col_count_3 {
	width:20vw;
}

.porItem_skills_category.col_count_2 {
	width:30vw;
}

.porItem_skills_category .skill_row {
	display:block;
	text-align:left;
	width:100%;
}

.porItem_skills_category .skill_row .skill_row_title {
	text-align:left;
	width:100%;
	padding: 0 0 1vw 0;
}

.porItem_skills_category .skill_row .skill_row_fuelBar {
	width:100%;
}

.porItem_skills_category .skill_row .skill_row_fuelBar {
	padding:0;
}

.port_detail_nav {
	text-align:right;
	color:white;
	cursor:pointer;
	background:#2d2d2d;
	height:4vw;
	position:fixed;
	left:50px;
	right:50px;
	z-index:1000;
}

.port_detail_nav .port_detail_nav_x {
	width:2vw;
	padding:1vw;
	margin:0;
}

.port_detail_title {
	position:fixed;
	top:0;
	right:0;
	left:0;
	text-align:center;
	font-size:2vw;
	letter-spacing:1vw;
	padding:1vw 0 1vw 0;
	background:#777;
	cursor:pointer;
}

.port_detail_title .close {
	font-size:3vw;
	position:absolute;
	margin:0;
	top:0;
	right:0;
	text-align:right;
	padding: 0 2vw 0 0
}

.port_detail_item {
	border:1px solid #333;
	width:80%;
	margin:0 auto 3vw auto;
}

.port_detail_copy {
	display:flex;
	justify-content:center;
}


.port_detail_solution li {
	text-align:left
}

.port_detail img {
	width:100%;
}


.link_item {
	display:flex;
}

.link_icon {
	width:1.5vw; 
	padding-right:.5vw;
	padding:5%;
}

.link {
	color:white;
	text-decoration:none;
	letter-spacing:.25vw;
	padding-left:.5vw;
	display:flex;
}
.link:hover {
	color:white;
	text-decoration:underline;
}

.col_60 { width:60%; }

.col_40 { width:40%; }

.col_20 { width:20%; }


/* ----------- MOBILE ------------ */


@media only screen and (max-width: 431px) { 

	.port_detail {
    top: 20px !important;
    right: 20px !important;
    bottom: 20px !important;
    left: 20px !important;
	}

	#portItem_details {
		display:block !important;
		width:95% !important;
		left:5vw !important;
		top:34vw !important;
	}

	#portItem_details .column {
    width: 100% !important;
	}

	#portItem_media {
		padding-top:14vw;
	}

	.port_detail_description {
		display:flex;
		flex-direction:column;
		padding:0 4vw 2vw 6vw;
	}

	.port_detail_description .column {
		width:90vw;
	}

	.portItem_detailPanel h3 {
    font-size: 4vw !important;
		text-align:center;
	}

	.port_detail_nav {
		left:20px !important;
		right:20px !important;
		height:6vw !important;
	}

	.port_detail_nav .port_detail_nav_x {
    width: 2vw;
    padding: 2vw;
    margin: 0;
	}

	.port_detail_title {
		font-size:4vw !important;
		font-weight:400;
		padding:4vw 0 4vw 0 !important;
	}

	.port_detail_title .close {
		padding: 3vw 3vw 0 0;
		font-size:5vw;
	}

	.link {
		color:white;
		text-decoration:none;
		letter-spacing:.25vw;
		padding-left:0;
		display:flex;
		justify-content:center;
	}

	.link_icon {
		width:5vw;
		margin:0 2vw 0 0;
	}

}

/* ================== PORTFOLIO ITEM MEDIA ==================  */

.portItem_image {
	padding-bottom:2vw;
}

.portItem_image img {
	border:1px solid rgb(66, 66, 66);
}