
/* ================== PORTFOLIO COLLECTION ==================  */

.portfolio {
	position:absolute;
	top:0;
	transition: all 0.5s ease-in-out;
	height:70vh;
	overflow-y:scroll;
	overflow-x:hidden;
	background:rgba(0,0,0,1);
	border:1px solid #333;
	padding:2vw 0 0 0;
	margin:4vw 0 0 0;
	width:70vw;
}

.portfolio_content {
	display:inline-flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
}

.port_item {
	width:20vw;
	cursor:pointer;
	margin:0 1vw 4vw 1vw;
}


.port_thumbnail_shell {
	overflow:hidden;
	width:100%;
	height:25%;
	
}
.port_thumbnail {
	width:20vw;
	height:20vw;
	object-fit:cover;
	border:1px solid #333;
}

.port_thumbnail:hover {
	border:1px solid grey;
}

.port_item_img_container {
	position:relative;
}

.port_videoIcon {
	position:absolute;
	width:12vw;
	opacity:.25;
	left:4vw;
	top:4vw;
}

.port_item_title {
	font-size:1.5vw;
	margin:.5vw;
	text-align:center;
}

.port_item_category {
	display:flex;
	justify-content:center;
}

.port_item_stats {
	display:flex;
	justify-content:center;
	display:block;
	text-align:center;
}

.port_item_stat {
	width:1vw;
}

/* ----------- MOBILE ------------ */
@media only screen and (max-width: 430px) {

	/* ------- PORTFOLIO TAB -------- */

	.port_item {
		width:60vw;
		padding:0 0 4vw 0;
	}

	.port_item_small {
		text-align:center;
	}

	.port_thumbnail {
		width:100%;
		height:100%;
		margin-left:auto;
		margin-right:auto;
	}

	.port_item_title {
		font-size:5vw;
		font-weight:300;
		line-height:5vw;
		padding:0 0 1vw 0;
	}

	.port_item_stat {
    width: 2.5vw;
	}

	.port_videoIcon {
		width: 24vw;
    left: 18.25vw;
    top: 5vw;
	}

}