
/* ================== SUB NAV ==================  */

.subnav {
	width:80%;
	margin: 2vw auto auto auto;
	border-bottom:1px solid white;
	transition: all 0.5s ease-in-out;
}

.content_subnav {
	display:flex;
	width:80%;
	margin:auto;
	justify-content:center;
	align-items:center;
}

.content_subnav_item {
	font-size:2.5vw;
	letter-spacing:1vw;
	padding:1vw 6vw 0 6vw;
	cursor:pointer;
}

.subnav_stick_row {
	position:relative;
	height:20px;
}

.subnav_stick {
	width:1px;
	height:20px;
	background:white;
	position:absolute;
	left:50%;
	right:50%;
	transition:1s;
}



/* ---------- highlight marketing ----------- */

.subnav.subnav_skills_marketing .subnav_active {
	text-shadow: 
		0 0 10px var(--color_skills_marketing), 
		0 0 20px #fff, 
		0 0 30px var(--color_skills_marketing), 
		0 0 40px var(--color_skills_marketing), 
		0 0 50px var(--color_skills_marketing), 
		0 0 60px var(--color_skills_marketing), 
		0 0 70px var(--color_skills_marketing);
}

.subnav.subnav_skills_marketing .subnav_title:hover {
	text-shadow: 
		0 0 10px var(--color_skills_marketing), 
		0 0 20px #fff, 
		0 0 30px var(--color_skills_marketing), 
		0 0 40px var(--color_skills_marketing), 
		0 0 50px var(--color_skills_marketing), 
		0 0 60px var(--color_skills_marketing), 
		0 0 70px var(--color_skills_marketing);
}




/* ---------- highlight uiux ----------- */

.subnav.subnav_skills_uiux .subnav_active {
	text-shadow: 
		0 0 10px var(--color_skills_uiux), 
		0 0 20px #fff, 
		0 0 30px var(--color_skills_uiux), 
		0 0 40px var(--color_skills_uiux), 
		0 0 50px var(--color_skills_uiux), 
		0 0 60px var(--color_skills_uiux), 
		0 0 70px var(--color_skills_uiux);
}

.subnav.subnav_skills_uiux .subnav_title:hover  {
	text-shadow: 
		0 0 10px var(--color_skills_uiux), 
		0 0 20px #fff, 
		0 0 30px var(--color_skills_uiux), 
		0 0 40px var(--color_skills_uiux), 
		0 0 50px var(--color_skills_uiux), 
		0 0 60px var(--color_skills_uiux), 
		0 0 70px var(--color_skills_uiux);
}



/* ---------- highlight webDev ----------- */

.subnav.subnav_skills_webDev .subnav_active {
	text-shadow: 
		0 0 10px var(--color_skills_webDev), 
		0 0 20px #fff, 
		0 0 30px var(--color_skills_webDev), 
		0 0 40px var(--color_skills_webDev), 
		0 0 50px var(--color_skills_webDev), 
		0 0 60px var(--color_skills_webDev), 
		0 0 70px var(--color_skills_webDev);
}

.subnav.subnav_skills_webDev .subnav_title:hover  {
	text-shadow: 
		0 0 10px var(--color_skills_webDev), 
		0 0 20px #fff, 
		0 0 30px var(--color_skills_webDev), 
		0 0 40px var(--color_skills_webDev), 
		0 0 50px var(--color_skills_webDev), 
		0 0 60px var(--color_skills_webDev), 
		0 0 70px var(--color_skills_webDev);
}



/* ---------- highlight gaming ----------- */

.subnav.subnav_skills_gameDev .subnav_active {
	text-shadow: 
		0 0 10px var(--color_skills_gameDev), 
		0 0 20px #fff, 
		0 0 30px var(--color_skills_gameDev), 
		0 0 40px var(--color_skills_gameDev), 
		0 0 50px var(--color_skills_gameDev), 
		0 0 60px var(--color_skills_gameDev), 
		0 0 70px var(--color_skills_gameDev);
}

.subnav.subnav_skills_gameDev .subnav_title:hover {
	text-shadow: 
		0 0 10px var(--color_skills_gameDev), 
		0 0 20px #fff, 
		0 0 30px var(--color_skills_gameDev), 
		0 0 40px var(--color_skills_gameDev), 
		0 0 50px var(--color_skills_gameDev), 
		0 0 60px var(--color_skills_gameDev), 
		0 0 70px var(--color_skills_gameDev);
}

/* ----------- MOBILE ------------ */
@media only screen and (max-width: 420px) {
	.subnav_stick {
		width:1px;
	}
}