#skillset_overview {

	position:absolute;
	top:0;
	height:1000px;
	
	width:75vw;

	transition: all 0.5s ease-in-out;
	background:rgba(0,0,0,1);
	height:70vh;
	padding:2vw 0 0 0;
	margin:4vw 0 0 0;

	border:1px solid #333;

}

.skills_overview {
	width:80%;
	margin:auto;
	text-align:center;
}

.skills_link {
	display:block;
	margin: 1vw auto 0 auto;
	font-size:2vw;
}

.skills_link a {
	color:white;
	text-decoration:none;
}

.skills_link a:hover {
	text-decoration:underline;
}

.acrobat_icon {
	width:1.5vw;
	padding-right:.5vw;
}