@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

/* ================== Global ==================  */

:root {
	--color_skills_marketing:#6DCFF6;
	--color_skills_uiux:		#8C00FF;
	--color_skills_webDev:	#FF00FF;
	--color_skills_gameDev:	#FF0000;

	line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

html,body {
	margin:0;
	padding:0;
	background:black;
	font-family: "Jost", Arial, sans-serif;
	font-weight: 200;
}

#content,
.client_header {
	font-size:1.5vw;
	letter-spacing:.3vw;
}

.page_content {
	position:relative;
	width:100%;
}

a {
	text-decoration:none;
	color: #999;	
}

a:hover {
	color: #000;	
}


a:after {
	content: '';
	display: block;
	margin: auto;
	height: 1px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
a:hover:after {
	width: 100%;
	background: #000;
}


.hideMe {
	display:none;
}	

.maskMe {
	width:0;
	height:0;
	overflow:hidden;
}

.opacity0 {
	opacity:0;
}


.textBold {
	font-weight:400;
}

.orderMinus1 { order:-1; }






.content_stage {

  height: 800px; /* must match cube__face */
  perspective: 10000px; /* depth of 3d */

	position:absolute;
	
}

.content_cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
	transform: translateZ(-100px);
}



/* ================== HEADER ==================  */

#header_full {
	text-align:center;
	margin:4vw;
}

#header_full img {
	width:90%;
}

#content {
	margin:auto;
	text-align:center;	
}

#nav ul li {
	display:inline-block;
	list-style:none;
	padding: 0 5% 0 5%;
	border-right: 1px solid #999999;
	
}

#nav h1 {
	font-weight:500;
}

#nav ul {
	padding:0;
}

#nav ul li:last-child {
	border:none;	
}

#header img {
	width:50%;	
}

.clients {
	width: 80%;
	text-align: center;
	padding: 2% 0 0 0;
	margin: 4% 0 6% 10%;
}

.client_header {
	border-bottom: 1px solid #ccc;
	padding: 0 0 2% 0;
	margin: 0 0 3% 0;
}

.client_img {
	max-height:3vw;
	width:auto;
	padding:1vw;
}

.client_list {
	display:flex;
	justify-content: center;
	align-items: center;
}

/* ----------- MOBILE ------------ */
@media only screen and (max-width: 420px) {
	#header img {
		width:100%;
	}

	#nav ul {
		border-top:1px solid #ccc;
		width:80%;
		margin:auto;
	}

	#nav ul li {
		display:block;
		font-size:4vw;
		padding:0;
		margin:0;
		border:none;
	}

	.client_header {
		font-size:4vw;
	}

	.client_list {
		display:block;
	}

	.client {
		width:100%;
	}

	.client_img {
		max-height:10vw;
		padding-bottom:2vw;
	}
}


/* ----------- ANIMATIONS ------------ */

.a-delay-1s { animation-delay:1s; }
.a-delay-2s { animation-delay:2s; }
.a-delay-3s { animation-delay:3s; }
.a-delay-4s { animation-delay:4s; }

.a-fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 3s;
	animation-fill-mode: forwards;
}

.a-fade-in-scale {
	opacity: 1;
	scale: 1;
	animation-name: fadeInOpacityAndScale;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-duration: 4s;
	animation-fill-mode: forwards;
}


@keyframes fadeInOpacityAndScale {
	0% {
		opacity: 0;
		scale: 1;
		margin:4vw;
		height:15vw;
	}
	70% {
		opacity: 1;
		scale: 1;
		margin:4vw;
		height:15vw;
	}
	100% {
		opacity: 1;
		scale: .25;
		margin:0vw;
		height:8vw
	}
}


@media only screen and (min-width: 1024px) {
	@keyframes fadeInOpacityAndScale {
		0% {
			opacity: 0;
			scale: 1;
			margin:4vw;
			height:15vw;
		}
		70% {
			opacity: 1;
			scale: 1;
			margin:4vw;
			height:15vw;
		}
		100% {
			opacity: 1;
			scale: .175;
			margin:0vw;
			height:6vw
		}
	}
	
}



@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}



/* ================== PORTFOLIO ITEM DETAIL OVERLAY ==================  */

.port_detailShell {
	background:rgba(0,0,0,.8);
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:-10;
}

.port_detail.category_marketing {
	box-shadow:0px 0px 10px 10px rgba(110,206,246,.5); 
}

.port_detail.category_uiux {
	box-shadow:0px 0px 10px 10px rgba(140,0,225,.5);
}

.port_detail.category_gameDev {
	box-shadow:0px 0px 10px 10px rgba(255,0,0,.5);
}

.port_detail.category_webDev {
	box-shadow:0px 0px 10px 10px rgba(255,0,225,.5);
}

.acrobat_icon {
	width:1.5vw;
	padding-right:.5vw;
}

/* ----------- MOBILE ------------ */
@media only screen and (max-width: 420px) {

	.port_detail {
    top: 20px !important;
    right: 20px !important;
    bottom: 20px !important;
    left: 20px !important;
	}

	#portItem_details {
		display:block !important;
		width:95% !important;
		left:5vw !important;
		top:34vw !important;
	}

	#portItem_details .column {
    width: 100% !important;
	}

	.portItem_detailPanel {
		top:38vw !important;
		right:12% !important;
	}

	.portItem_detailPanel h3 {
    font-size: 4vw !important;
		text-align:center;
	}

	.content_subnav_item {
    font-size: 5vw !important;
	}

	.content_subnav_item {
    padding: 1vw 3vw 0 3vw !important;
	}

}
